@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap');

:root {
  --primary-font: 'Inter', 'sans serif';
  --secondary-font: 'Montserrat', 'sans serif';
  --black: #0e1014;
  --dark-grey: #656566;
  --light-text: #e4e5ea;
  --gradient-from: #fcb045;
  --gradient-to: #ff3f78;
  --blue: #4077f3;
  --max-width: 1160px;
}
